@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
.home-animation {
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.home-name {
  font-weight: bold;
  font-size: 3rem;
  color: white !important;
}

.home-social-icons a {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.home-social-icons a:hover {
  background: #00ff00;
}

.nav-link {
  color: white !important;
  margin: 0 10px;
  position: relative;
  font-weight: bold;
}

.nav-link:hover {
  font-weight: bold;
  color: #00ff00 !important;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #00ff00;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.nav-link:hover::after {
  width: 100%;
}

.btn-success {
  background-color: #00ff00;
  border-color: #00ff00;
}

h2 span {
  color: #fff;
  border-bottom: 2px solid #00ff00;
  padding-bottom: 6px;
}
